/* 12 june 2024 starts */
.fc-event {
    border-radius: 2px;
    border: none;
    cursor: move;
    font-size: .8125rem;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}

.inner-modal.modal {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 15px;
}

.inner-modal.modal .modal-dialog {
    max-width: 700px;
    display: flex;
    align-items: center;
    height: calc(100% - 56px);
    overflow: auto;
}

.inner-modal.modal .modal-dialog .modal-content {
    height: auto;
}

.inner-modal .modal-header {
    padding: 10px;
    text-align: center;
    position: relative;
}

.inner-modal .modal-header .modal-title {
    display: block;
    width: 100%;
    font-size: 24px;
    text-transform: uppercase;
}

.inner-modal .modal-header .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.inner-modal .modal-body .tablelist-form {
    display: block;
}

.tablelist-form .form-group .form-control {
    border-radius: 6px !important;
    border: 1px solid var(--vz-input-border) !important;
    margin: 0 !important;
    font-size: 14px;
}

.inner-modal .modal-body .tablelist-form .row {
    margin: 0 -10px;
}

.inner-modal .modal-body .tablelist-form .row>div[class*="col-"] {
    padding: 0 10px;
}

.inner-modal .modal-body .tablelist-form .form-group:not(:last-child) {
    margin-bottom: 16px;
}

.inner-modal .modal-body .tablelist-form .form-label.btn {
    margin: 0;
}

.inner-modal .modal-body .tablelist-form .check-input label {
    margin: 0 !important;
}

.inner-modal .modal-body .tablelist-form .check-input input {
    display: inline-block;
}

.inner-modal .modal-body .cstm-mb {
    margin-bottom: 16px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 991px) and (orientation : landscape) {
    .inner-modal.modal .modal-dialog .modal-content {
        height: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .inner-modal .modal-header .modal-title {
        font-size: 20px;
    }
}

@media only screen and (max-width: 575px) {
    .inner-modal.modal {
        padding: 0;
    }

    .inner-modal.modal .modal-dialog {
        height: calc(100% - 16px);
    }
}


/* .fc-event {
        padding: 0 !important;
        max-width: 0 !important;
    } */
/* 12 june 2024 ends */

.user-profile table {
    border-collapse: collapse;
    width: 100%;
}

.user-profile table td {
    border: 1px solid #dddddd;
    padding: 6px;
}

.user-profile table td:first-child {
    font-weight: bold;
    background-color: #f2f2f2;
    width: 50%;
    /* Set the width of label column to 50% */
}

.user-profile table td:nth-child(2) {
    width: 50%;
    /* Set the width of value column to 50% */
}

/* user tutorials */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Styling the main container */
.container {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    letter-spacing: 0.5px;
    height: 80%;
}

img {
    width: 100px;
    vertical-align: middle;
    border-style: none;
}

.logo-codebright {
    width: 100px;
    vertical-align: middle;
    border-style: none;
    padding: 2px;
}

.cursor-pointor {
    cursor: pointer;
}

.quiz-option-modal {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.quiz-option-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.quiz-pair-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Styling the msg-header container */
.msg-header {
    border: 1px solid #ccc;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background-color: #efefef;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Styling the profile picture */
.msgimg {
    margin-left: 2%;
    float: left;
    height: 46px;
    width: 46px;
}

.container1 {
    width: 270px;
    height: auto;
    float: left;
    margin: 0;
}

.container2 {
    width: 160px;
    height: auto;
    float: right;
    margin: 0;
}

/* styling user-name */

/* Styling the inbox */
.chat-page {
    padding: 0 0 50px 0;
}

.msg-inbox {
    border: 1px solid #ccc;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.chats {
    padding: 30px 15px 0 25px;
}

.msg-page {
    max-height: 500px;
    overflow-y: auto;
}

/* Styling the msg-bottom container */
.msg-bottom {
    border-top: 1px solid #ccc;
    position: relative;
    height: 11%;
    background-color: rgb(239 239 239);
}

/* Styling the input field */


.input-group-text {
    background: transparent !important;
    border: none !important;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: b;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-weight: bold !important;
    cursor: pointer;
}

/* input:focus {
        outline: none;
        border: none !important;
        box-shadow: none !important;
    } */

/* .input-group {
        float: right;
        margin-top: 13px;
        margin-right: 20px;
        outline: none !important;
        border-radius: 20px;
        width: 61% !important;
        background-color: #fff;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    } */

/* .input-group>.form-control {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
    }
    
    .form-control {
        border: none !important;
        border-radius: 20px !important;
        display: block;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    } */

/* .active {
    width: 150px;
    float: left;
    color: black;
    font-weight: bold;
    margin: 0 0 0 5px;
    height: 10%;
 
} */
.send-icon {
    font-weight: bold !important;
}

/* Styling the avatar  */
received-chats-img {
    display: inline-block;
    width: 50px;
    float: left;
}

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received-msg-inbox {
    width: 57%;
}

.received-msg-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin-left: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}

p {
    overflow-wrap: break-word;
}

/* Styling the msg-sent time  */
.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-chats-msg p {
    background-color: #3a12ff;
    background-image: linear-gradient(45deg, #ee087f 0%, #DD2A7B 25%, #9858ac 50%, #8134AF 75%, #515BD4 100%);
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}

.outgoing-chats-msg {
    float: right;
    width: 46%;
}

/* Styling the avatar */
.outgoing-chats-img {
    display: inline-block;
    width: 50px;
    float: right;
    margin-right: 1rem;
}

@media only screen and (max-device-width: 850px) {

    /* *,
    .time {
        font-size: 28px;
    } */
    img {
        width: 65px;
    }

    .msg-header {
        height: 5%;
    }

    .msg-page {
        max-height: none;
    }

    .received-msg-inbox p {
        font-size: 28px;
    }

    .outgoing-chats-msg p {
        font-size: 28px;
    }
}

@media only screen and (max-device-width: 450px) {

    /* *,
    .time {
        font-size: 28px;
    } */
    img {
        width: 65px;
    }

    .msg-header {
        height: 5%;
    }

    .msg-page {
        max-height: none;
    }

    .received-msg-inbox p {
        font-size: 28px;
    }

    .outgoing-chats-msg p {
        font-size: 28px;
    }
}


.element {
    display: inline-flex;
    align-items: center;
}

i.fa-camera {
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
}

i:hover {
    opacity: 0.6;
}

.uploaded-file-info {
    font-size: 10px;
}

.fc .fc-list-event-title a {
    color: #000 !important;
}
/* user tutorials */